@page "{id:int}"
@model BOM.Pages.VersioneDistintaBase.EditModel

@{
    var productList = ViewData["ProductList"] as List<BOM.Model.Item>;
}

@if (Model == null)
{
    <h2 class="text-danger">Your model is not found</h2>
} else
{
    <h2>Modifica versione distinta base</h2>
    <p>Versione: @Model.VersioneDistintaBase?.Version</p>
    <p>Nome prodotto: @Model.VersioneDistintaBase?.Product?.Name</p>

    <form method="post" asp-page="./Edit" >
        <input type="hidden" asp-for="VersioneDistintaBase.Id" />
        <input type="text" placeholder="Version" name="VersionedistintaBase.Version" class="form-control" required />
        <select id="productId" name="VersioneDistintaBase.ProductId" class="form-control" >
            <option value="">Select a product</option>

            @if (productList != null && productList.Any())
            {
                @foreach (var item in productList)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            }
        </select>
        <input type="submit" />
    </form>

    <a asp-page="./Index" >Undo</a>
}