@page "{id:int}"
@model BOM.Pages.DistintaBase.DetailsModel

@{
    ViewData["Title"] = "Details";
    var ItemList = ViewData["ItemList"] as List<BOM.Model.Item>;
    var ItemVersion = ViewData["VersioneDistintaBase"] as List<BOM.Model.VersioneDistintaBase>;
    var Id = ViewData["Id"] as int?;
}

<h1>Details</h1>

<div>
    <h4>DistintaBase</h4>
    <hr />
    <table>
        <tr>
            <td>Name</td>
            <td>Amount</td>
        </tr>
        @if (Model.ListDistintaBase != null) {
            @foreach (var list in Model.ListDistintaBase)
            {

                <tr>
                    <td>@list.Figlio.Name</td>
                    <td>@list.Amount</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@list.Id" >Edit amount</a>
                    </td>
                </tr>
            }
        } 
        else
        {
            <tr>
                <td>Empty</td>
            </tr>
        }
    </table>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
