@page
@model BOM.Pages.DistintaBase.IndexModel

@{
    ViewData["Title"] = "Index";
    var versioneDistintaBase = ViewData["VersioneDistintaBase"] as List<BOM.Model.VersioneDistintaBase>;
    var itemList = ViewData["ItemList"] as List<BOM.Model.Item>;
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Item name
            </th>
            <th>
                Version
            </th>
            <th>
                Amount
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var itemVersion in versioneDistintaBase)
        {
            foreach (var itemlist in itemList)
            {
                if (itemVersion.ProductId == itemlist.Id)
                {
                    <tr>
                        <td>@itemlist.Name</td>
                        <td>@itemVersion.Version</td>
                        <td>
                            <a asp-page="./Details" asp-route-id="@itemVersion.Id">Details</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
